body {
    background-color: purple;
}

header {
    color: white;
    text-align: center;
    font: normal 15pt arial;

}

section {
    background: white;
    border-radius: 40px;
    padding: 68px;
    width: 600px;
    margin: auto;


}

#desc {
    font: normal 15pt arial;
}

#img img{
    /* arredondar imagem */
    border-radius: 50%;
    /* borda na imagem */
    border: 8px solid black;
}

footer {
    color: white;
    font: normal 15pt arial;
    text-align: center;
    font-style: italic;

}